@use "./variables.module.scss" as *;

:root {
  --sidebar-width: #{$sideBarWidth};
  --narbar-heigh: #{$narBarHeight};
  --tagsview-height: #{$tagsViewHeight};
  --menu-bg: #{$menuBg};
}

a {
  @apply decoration-none active:(decoration-none) hover:(decoration-none);
}
